/* content wrapper for Facebook data */
.checkinContent {
    padding-top:5px;
}
 
/* username formatting */
.checkinUsers {
    font-size:80%;
}
 
/* text formatting for checkin data */
.checkinLocation {
    font-size:70%;
    font-weight:normal;
    padding-right:50px;
    padding-bottom:10px;
}

/*Text formatting for the distance*/
.checkinMiles {
    float:right;
    color:#777;
    font-size:65%;
    font-weight:normal;
    padding-right:10px;
}
 

/*Increases height of the list item*/
.checkinListItem {
	line-height: 18px;
	height: auto;
}

/*Moves toolbar button to right side of screen*/
.toolBarButton {
	float:right;
}

.settingsTextBox {
	margin-top: 5px;
	float: right;
	font-family: "Helvetica Neue", Helvetica;
	font-size: 11px;
}

